{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <table class="table table-bordered  cart">
            <tr>
                <th>%</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
        </table>
    </div>
{% endblock %}