{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <table class="table table-bordered  cart">
            <tr>
                <th>%</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            {% for product in products %}
                <th>{{ loop.index }}</th>
                <th>{{ product.name }}</th>
                <th>{{ cart[product.id].count }}</th>
                <th>{{ cart[product.id].price }}</th>
            {% endfor %}
        </table>
    </div>
{% endblock %}