@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
}
img{
  max-width: 100%;
}
form * {
  outline: none;
}

header {
  .header_wrapper {
    .header_top {
      margin-left: 10px;
      margin-right: 10px;

      > .wrapper {
        display: flex;
        align-items: center;
        max-width: 1440px;

        width: 100%;
        margin: auto;
      }


      .logo {
        font-size: 0;
        margin-left: 5px;
      }

      .search {
        flex: 1 1 auto;
        margin: 0;
        margin-left: 60px;
        margin-right: 40px;

        form {
          display: flex;
          align-items: center;

          input {
            width: 100%;
            padding: 8px;
            border: 1px solid #eeee;
            border-radius: 4px;
          }

          label[for="search"] {
            margin: 0;
            margin-left: -27px;

            .fa-search path {
              fill: rgba(0, 0, 0, .4);
            }
          }
        }
      }

      .links {
        display: flex;
        align-items: center;

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 12px;
          margin-left: 0;

          .button {
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            margin: 0 12px;

            &:first-child {
              margin-left: 0;
            }

            .userbar {
              border-radius: 50%;
              position: relative;
              height: 100%;
              border: 2px solid black;
              box-sizing: border-box;
              a{
                color:black;
                text-decoration: none;
              }
              .fa-user {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

              }
            }
          }
        }

        .phones {
          .phone {
            display: flex;
            align-items: center;

            a {
              font-size: 17px;
              margin-left: 10px;
              margin-right: 10px;
            }

            .icon {
              height: 20px;

              svg {
                width: 20px;
                height: 20px;
              }
            }

            .icon-small {

              svg {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }

    .header_bot {
      padding: 10px;
      background: #A21727;

      .wrapper {
        max-width: 1440px;
        width: 100%;
        margin: auto;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 21px;
        color: #fff;
        display: flex;
        justify-content: space-between;
      }

      &_left {
        display: flex;

        .folders {
          margin-left: 22px;
          margin-right: 35px;

          .title {

            span {
              letter-spacing: 0.5px;
              font-size: 16px;
              font-weight: 700;
            }

            i {
              width: 13px;
              height: 13px;
              margin-left: 10px;

              svg {
                width: 13px;
                height: 13px;
                fill: #fff;
              }

            }
          }
        }

        nav {
          ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            li {
              list-style: none;
              margin-right: 15px;

              a {
                text-decoration: none;
                color: #fff;
                font-size: 14px;
              }
            }
          }
        }
      }

      &_right {

        .cart {
          display: flex;

          .icon {
            margin-right: 10px;
            display: flex;
            align-items: flex-end;

            i.cart {
              svg {
                height: 19px;
                width: 19px;
                fill: #fff;
              }
            }

            .count {
              display: block;
              position: relative;
              width: 15px;
              height: 15px;
              margin-right: -8px;
              margin-bottom: 1px;
              background: #C42F3C;
              border-radius: 15px;

              span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 10px;
              }
            }
          }

          .title {
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }

}

main {
  section.content{
    max-width: 1440px;
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    margin: auto;
  }
  .main_slider {
    position: relative;

    &.slick-slider {
      margin-bottom: 0;
    }

    ul.slick-dots {
      position: absolute;
      bottom: 5px;

      > li button {
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        padding: 3px;
        box-sizing: border-box;
        position: relative;

        &:before {
          content: none;
        }

      }

      li.slick-active {
        button:after {
          content: '';
          width: 8px;
          height: 8px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: red;
          border-radius: 50%;
        }
      }
    }
  }

  .companies {
    background: #EEEEEE;

    .wrapper {
      margin-left: 10px;
      margin-right: 10px;
    }

    ul {

      max-width: 1380px;
      width: 100%;
      margin: auto;
      padding: 47px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        list-style: none;

        img {
          max-width: 130px;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  section.slider {
    padding: 40px 0;

    .title {
      font-size: 20px;
      line-height: 1;
      font-weight: 700;
      color: #000;
      text-align: center;
      margin-bottom: 30px;
    }

    .wrapper {
      margin-left: 10px;
      margin-right: 10px;

    }


  }
  .news_slider, .products {
    max-width: 1380px;
    width: 100%;
    margin: auto;
    .slick-arrow {
      width: 38px;
      height: 38px;
      background: rgba(255,255,255,0.5);
      z-index: 1;
      top: 35%;
      box-shadow: 0 1px 4px rgba(0,0,0,.1), inset 0 -1px 0 rgba(175,175,175,.6);
      &:before {
        display: inline;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 1;
        color:grey;
        content: "<";
      }

      &.slick-prev {

      }

      &.slick-next {
        right: -15px;
        &:before{
          content: ">";
        }
      }

    }

    .product_wrapper {
      margin-right: 12px;

      .product {
        margin: 3px;
        background: #fff;
        position: relative;
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

          .product_hide {
            display: block;
          }
        }

        .product_main {
          .product_top {
            padding: 16px;
            margin-bottom: 10px;

            .image {
              position: relative;
              display: flex;
              align-items: center;
              height: 300px;
              justify-content: center;

            }
          }

          .product_middle {
            padding: 0 30px;
            padding-bottom: 16px;

            .product_name {
              text-align: center;
              margin-bottom: 12px;

              a {
                text-decoration: none;
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                color: #000000;

                &:hover {
                  color: red;
                }
              }
            }

            .product_buy {
              display: flex;
              justify-content: center;
              align-items: center;


            }
          }
        }

        .product_hide {
          padding: 0 15px 16px;
          //display: none;
          background: #fff;
          position: absolute;

          .product_params {
            td {
              color: #ACACAC;
              font-size: 12px;
              line-height: 18px;

              &.value {
                color: inherit;
              }
            }

          }
        }
      }
    }
  }
  section.about{
    color: #000000;
    background: #EEEEEE;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    .wrapper{
      max-width: 1000px;
      width: 100%;
      margin: auto;
    }
    .title{
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 18px;
      font-weight: bold;
    }
    .text{
      font-size: 14px;
      line-height: 22px;

    }
  }

}
.footer{
  padding-top: 30px;
  padding-bottom: 40px;

  .wrapper{
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }
  &_left{
    flex:1 1 auto;
    .copyright{
      font-size: 12px;
    }
  }
  &_middle{
    display: flex;
    flex:1 1 auto;
    .title a{
      font-size: 14px;
      font-weight: 700;
      color: #C11D2D;
      margin-bottom: 10px;
    }
    ul{
      padding: 0;
      margin: 0;
      flex:50%;
      li{
        list-style: none;
        margin-bottom: 5px;
        a{
          color:#000;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
  }
  &_right{
    flex:1 1 auto;
    .title{
      font-weight: bold;
      color: #C11D2D;
      font-size: 14px;
    }
    .content{
      display: flex;

    ul.contacts {
      padding: 0;
      flex: 50%;
      li {
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        a {
          color: #000;
          text-decoration: none;
          font-size: 12px;
        }

        i {
          margin-right: 8px;
          width: 16px;
          height: 16px;
          svg {
            fill: grey;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    }
  }
}
.flags {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .flag {
    padding: 5px 13px 7px 10px;
    margin-bottom: 2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;


    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;

    text-transform: uppercase;

    color: #FFFFFF;

    &.new {
      background: #3DA5CA;
    }

    &.hit {
      background: #7BAF35;
    }

    &.sale {
      background: #E93F11;
    }
  }
}
.buy_button {
  background: #C42F3C;
  padding: 5px 10px;
  color: #fff;
  margin-left: 10px;
  cursor:pointer;
}
i.star{
  background: url("/assets/design/images/icons/star.svg") no-repeat center/contain;
  &.empty{
    background: url("/assets/design/images/icons/star_empty.svg") no-repeat center/contain;
  }
}
@media (max-width: 960px) {
  header .header_wrapper .header_top > .wrapper{
    flex-wrap: wrap;
    margin-bottom: 10px;
    .logo{
      width: 100%;
      margin: 0;
      img{
        display: block;
        margin: auto;
      }
    }
    .search{
      margin-left: 0;
    }
  }
  footer.footer .wrapper{
    flex-wrap: wrap;
    .footer_left{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 768px) {
  footer.footer .wrapper {
      flex-direction: column;
  }
}
@media (max-width: 640px) {
  header .header_wrapper .header_top > .wrapper{
    flex-direction: column;

    align-items: center;
    justify-content: center;
    div.search{
      width: 100%;

    }
    .links{
      margin: 10px;
    }
  }
}

@media (max-width: 420px) {
  header .header_wrapper .header_top > .wrapper{
    .links{
      flex-direction: column;
      .phones{
        margin-top: 10px;

      }
    }
  }
  footer.footer .wrapper {
    .footer_middle, .footer_right .content{
    flex-direction: column;
      margin: 10px;
    }
  }
}
main >.wrapper{
  max-width: 1440px;
  width: 100%;
  padding: 10px;
  margin: auto;
  background: #fff;
}
.folders.nested {
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    padding-left: 10px;
  }

  .folder {
    list-style: none;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px;

      .title {
        font-size: 16px;
        display: block;
        padding: 5px;
      }
    }
    .folder-controls{
      margin-left: 40px;
    }

    > div:hover {
      background: rgba(236, 236, 236, 0.3);

      > .folder-controls {
        display: flex;
      }
    }
  }

  .folder-controls {
    /*margin-left: 20px;*/
    display: none;
  }

}
#popover{
  position: absolute;
  display: none;
  background: #fff;
  font-size: 13px;
  padding: 10px;
  &.active{
    display: flex;
  }
}