{% extends 'custom_templates/base.form.html.twig' %}

{% block body %}
    <input type="hidden" name="route[template_id]" value="1">
   <div class="form-group">
       <label for="route[params][text]">Содержание</label>
       {% if route %}
           {% set route_params = json_decode(route.params) %}
           {% endif %}
       <div data-type="html" name="route[params][text]" id="route[params][text]" class="form-control">{{ route_params.text|raw }}</div>
   </div>
{% endblock %}