<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee Time</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/design/css/styles.css">
    <script src="/assets/plugins/fa/fa.all.min.js"></script>
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    <div class="header_wrapper">
        <section class="header_top">
            <div class="wrapper">
                <div class="logo">
                    <a href="/"><img src="/assets/design/images/dyn/logo.jpg" alt=""></a>
                </div>
                <div class="search">
                    <form action="">
                        <input type="search" id="search" placeholder="Поиск товара">
                        <label for="search"><i class="fa fa-search"></i></label>
                    </form>
                </div>
                <div class="links">
                    <div class="buttons">
                        <div class="button">
                            <div class="userbar">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="button">
                            <svg id="icon-round-checkbox-outline" viewBox="0 0 30 30">
                                <path d="M15 0C6.7 0 0 6.7 0 15s6.7 15 15 15 15-6.7 15-15S23.3 0 15 0zm0 28C7.8 28 2 22.2 2 15S7.8 2 15 2c4.8 0 8.9 2.6 11.2 6.4l-.5-.5-10.2 10.2-4.2-4.2-1.4 1.4 5.7 5.7 1.4-1.4 9.9-9.9c.8 1.7 1.2 3.5 1.2 5.4C28 22.2 22.2 28 15 28z"
                                      fill-rule="evenodd" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div class="button">
                            <svg id="icon-heart-outline" viewBox="0 0 30 28">
                                <path d="M22.4 2C25 2 28 4 28 8.3c0 7.8-9.8 15-13 17.2-3.2-2.2-13-9.4-13-17.2 0-2 .6-3.7 1.7-4.8 1-1 2.4-1.5 3.9-1.5C12.3 2 15 7.1 15 7.1S17.5 2 22.4 2m-.1-2c-2.7 0-5.6 1.4-7.3 4-1.7-2.7-4.6-4-7.3-4C3.7 0 0 2.8 0 8.4 0 19 15 28 15 28s15-9 15-19.6C30 2.8 26.3 0 22.3 0z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="phones">
                        <div class="phone">
                    <span class="icon">
                        <svg id="icon-phone" viewBox="0 0 64 64"><path
                                    d="M32 0C14.328 0 0 14.328 0 32s14.328 32 32 32 32-14.328 32-32S49.672 0 32 0zm15.555 44.121c-.719.684-1.344 1.441-2.063 1.965-1.742 1.246-3.914 1.914-6.438 1.945-2.48.031-4.488-.727-6.32-1.602-3.578-1.711-6.453-4.219-9.188-7.023-2.688-2.766-5.199-6.07-6.672-9.773-1.836-4.625-1.184-9.492 1.328-12.617.422-.531 1.105-1.098 1.727-1.672.625-.586 1.188-1.273 2.086-1.484 2.043-.48 3.492 1.781 4.59 3.344 1.066 1.508 2.375 3.281 1.965 5.328-.223 1.141-1.223 1.805-1.969 2.512-.738.691-1.879 1.355-2.117 2.379-.391 1.672.695 3.359 1.367 4.316 1.516 2.164 3.324 4.098 5.598 5.793 1.098.824 2.625 1.922 4.09 1.559 2.188-.543 2.656-3.293 5.043-3.762 2.273-.445 3.895 1.148 5.234 2.203 1.293 1.023 3.363 2.313 3.305 4.16-.035 1.062-.855 1.757-1.566 2.429z"></path></svg>
                    </span>
                            <a>044 000-00-00</a>
                            <span class="icon-small">
                        <svg id="icon-arrow-down-light" viewBox="0 0 12 7.1"><path fill-rule="evenodd"
                                                                                   clip-rule="evenodd"
                                                                                   d="M6 4.9L1.1 0 0 1.1l6 6 6-6L10.9 0z"></path></svg>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="header_bot">
            <div class="wrapper">
                <div class="header_bot_left">
                    <div class="folders">
                        <div class="title">
                            <span>Каталог</span>
                            <i>
                                <svg id="icon-arrow-down-light" viewBox="0 0 12 7.1">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M6 4.9L1.1 0 0 1.1l6 6 6-6L10.9 0z"></path>
                                </svg>
                            </i>
                        </div>
                        <div class="content">

                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Оплата и доставка</a></li>
                            <li><a href="#">Обмен и возврат</a></li>
                            <li><a href="#">Контактная информация</a></li>
                            <li><a href="#">Блог</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header_bot_right">
                    <div class="cart">
                        <div class="icon">
                            <span class="count">
                                <span>0</span>
                            </span>
                            <i class="cart">
                                <svg id="icon-cart" viewBox="0 0 34 37">
                                    <path d="M8 31c-1.6 0-3 1.3-3 3s1.3 3 3 3c1.6 0 3-1.3 3-3 0-1.6-1.4-3-3-3zm15.9 0c-1.6 0-3 1.3-3 3s1.3 3 3 3c1.6 0 3-1.3 3-3 0-1.6-1.3-3-3-3zm8.8-26H7.8s-.6-2.6-.9-3.8C6.7.2 5.9 0 5.4 0H1.1C.5 0 0 .5 0 1.1V2c0 .6.4 1 1 1h3l4.3 18.5s-.5.8-1.6 2.5c-.5.7-.7 1.4-.7 2 0 2.1 1.5 3 3.3 3h16.2c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-15c-.5 0-.9-.3-.9-.8 0-.3.4-.8.4-.8l.9-1.4H25c1.3 0 2.4-1.1 2.9-2l5.7-13.4c.5-.4.4-.6.4-1.1.1-.8-.5-1.5-1.3-1.5z"></path>
                                </svg>
                            </i>

                        </div>
                        <span class="title">
                            <a href="#!">Мой заказ</a>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer class="footer">
    <div class="wrapper">
        <section class="footer_left">
            <div class="logo">
                <img src="/assets/design/images/dyn/logo.jpg" alt="">
            </div>
            <div class="copyright">
                &copy; 2020 Coffee Time
            </div>
        </section>
        <section class="footer_middle">
            <ul>
                <li class="title"><a href="">Каталог</a></li>
                {% for folder in folders %}
                    <li><a href="{{ folder.url }}">{{ folder.name }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                <li class="title"><a href="">Клиентам</a></li>
                <li><a href="">Вход в личный кабинет</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Оплата и доставка</a></li>
                <li><a href="">Обмен и возврат</a></li>
                <li><a href="">Контактная информация</a></li>
                <li><a href="">Блог</a></li>
            </ul>
        </section>
        <section class="footer_right">
            <div class="title">Контактная информация</div>
            <div class="content">
                <ul class="contacts">
                    <li class="contact"><i>
                            <svg id="icon-phone" viewBox="0 0 64 64">
                                <path d="M32 0C14.328 0 0 14.328 0 32s14.328 32 32 32 32-14.328 32-32S49.672 0 32 0zm15.555 44.121c-.719.684-1.344 1.441-2.063 1.965-1.742 1.246-3.914 1.914-6.438 1.945-2.48.031-4.488-.727-6.32-1.602-3.578-1.711-6.453-4.219-9.188-7.023-2.688-2.766-5.199-6.07-6.672-9.773-1.836-4.625-1.184-9.492 1.328-12.617.422-.531 1.105-1.098 1.727-1.672.625-.586 1.188-1.273 2.086-1.484 2.043-.48 3.492 1.781 4.59 3.344 1.066 1.508 2.375 3.281 1.965 5.328-.223 1.141-1.223 1.805-1.969 2.512-.738.691-1.879 1.355-2.117 2.379-.391 1.672.695 3.359 1.367 4.316 1.516 2.164 3.324 4.098 5.598 5.793 1.098.824 2.625 1.922 4.09 1.559 2.188-.543 2.656-3.293 5.043-3.762 2.273-.445 3.895 1.148 5.234 2.203 1.293 1.023 3.363 2.313 3.305 4.16-.035 1.062-.855 1.757-1.566 2.429z"></path>
                            </svg>
                        </i><a href="">044 000-00-00</a></li>
                    <li class="contact"><i></i><a href="">044 000-00-00</a></li>
                    <li class="contact"><i></i><a href="">Перезвонить вам?</a></li>
                </ul>
                <ul class="contacts">
                    <li class="contact"><i>
                            <svg id="icon-viber" viewBox="0 0 64 64">
                                <path d="M32 0C12.702 0 3.816 5.051 3.816 26.667c0 16.124 5.162 23.05 15.716 25.514V64l11.284-10.677c.392.005.782.01 1.183.01 18.622 0 28.184-5.165 28.184-26.667C60.184 5.089 50.455 0 32 0zm16.184 38.232c-1.069 1.232-2.102 2.529-3.368 3.56-1.088.885-2.509.992-3.924.445-11.623-4.49-19.96-12.124-24.768-23.142-.121-.276-.219-.562-.321-.845-.9-2.473-.629-3.433 1.515-5.097a24.711 24.711 0 0 1 2.212-1.504c1.279-.786 2.686-.777 3.653.326 1.607 1.833 3.14 3.751 4.459 5.775.985 1.512.633 2.367-.812 3.506-.334.263-.692.499-1.027.761-.836.657-1.189 1.441-.82 2.48 1.616 4.557 4.99 7.439 9.692 8.969.547.178 1.401-.222 1.999-.543.447-.24.708-.786 1.054-1.195.934-1.105 2.444-1.573 3.691-.824 2.229 1.338 4.364 2.824 6.459 4.347.449.327.558 1.072.801 1.575-.195.588-.222 1.092-.495 1.406zM33.736 16.581c-.015-.003-.35-.005-.774-.11-.333-.083-.593-.151-.791-.367a1.008 1.008 0 0 1-.246-.644c.043-.145.133-.362.34-.521.293-.224.663-.211.837-.203 4.902.232 7.805 2.917 7.805 2.917a12.07 12.07 0 0 1 2.221 2.845 12.137 12.137 0 0 1 1.527 4.874c.025.253.018.629-.167 1.015-.076.159-.162.334-.364.472a1.088 1.088 0 0 1-.625.179 1.148 1.148 0 0 1-.424-.258c-.179-.176-.262-.368-.271-.447-.258-2.129-.611-4.209-1.995-6.007-1.756-2.282-4.244-3.293-7.073-3.745zm6.411 8.09c-.048.617-.313.845-.379.898a1.078 1.078 0 0 1-.565.216 1.136 1.136 0 0 1-.572-.27c-.273-.256-.308-.608-.322-.723-.065-.534-.47-2.242-1.393-3.029-.577-.493-1.375-.753-2.542-.913-.469-.064-.923-.154-1.087-.448-.125-.224-.04-.478-.014-.558.192-.585.941-.753 1.001-.765.498.066 3.679.53 5.134 2.768a4.763 4.763 0 0 1 .739 2.824zm8.488 3.892a1.11 1.11 0 0 1-.476.242c-.18-.038-.463-.124-.68-.349-.294-.306-.31-.703-.318-.84a24.75 24.75 0 0 0-.69-4.57c-1.383-5.554-6.711-9.937-12.714-10.572a33.454 33.454 0 0 0-2.098-.177c-.475-.02-.948-.104-1.134-.406-.135-.221-.069-.481-.054-.541.101-.41.495-.593.564-.625.181-.085.343-.097.667-.124 0 0 .279-.017.524-.011 8.317.211 15.5 5.798 16.535 14.262.069.566.187 1.234.221 2.611.006.277.011.778-.347 1.1z"></path>
                            </svg>
                        </i><a href="">095 000-00-00</a></li>
                    <li class="contact"><i>
                            <svg id="icon-telegram" viewBox="0 0 64 64">
                                <path d="M41.7 21.3c-.3.1-.7.3-.9.5-6.4 4-12.7 8-19.1 12-.4.2-.4.4-.3.8.5 1.3.9 2.7 1.3 4.1l1.8 5.4h.1v-.2c.2-2 .4-3.9.5-5.9 0-.4.2-.8.5-1 2.6-2.3 5.2-4.7 7.8-7.1 2.9-2.6 5.8-5.2 8.6-7.8.2-.2.3-.4.4-.7-.2 0-.5-.1-.7-.1z"></path>
                                <path d="M32 0C14.3 0 0 14.3 0 32s14.3 32 32 32 32-14.3 32-32S49.7 0 32 0zm17.5 17.4c-.1 1.1-.4 2.2-.6 3.3-1.8 8.7-3.7 17.4-5.5 26-.4 2.1-1.9 2.6-3.6 1.3-2.8-2.1-5.7-4.2-8.5-6.3-.1-.1-.3-.2-.4-.3-1.5 1.5-3.1 3-4.6 4.4-.5.5-1.1.8-1.9.8-.5 0-.8-.3-1-.7-1.2-3.6-2.3-7.2-3.5-10.7-.1-.3-.3-.5-.6-.6-2.7-.8-5.4-1.7-8.1-2.5-.4-.1-.8-.3-1.2-.6-.6-.4-.6-1-.1-1.4.5-.4 1-.8 1.6-1 3.3-1.3 6.7-2.6 10-3.9 8.5-3.3 16.9-6.5 25.4-9.8 1.5-.6 2.8.3 2.6 2z"></path>
                            </svg>
                        </i><a href="">telegram</a></li>
                    <li class="contact"><i>
                            <svg id="icon-skype" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M15.717 8.084c0 .554-.062 1.094-.178 1.615.295.583.461 1.24.461 1.937C16 14.046 14.018 16 11.575 16c-.757 0-1.47-.188-2.093-.519a7.73 7.73 0 0 1-1.396.127c-4.216 0-7.632-3.369-7.632-7.524 0-.519.053-1.024.154-1.513A4.305 4.305 0 0 1 0 4.363C0 1.953 1.981 0 4.425 0c.866 0 1.673.246 2.355.67.424-.073.86-.11 1.305-.11 4.215 0 7.632 3.368 7.632 7.524zM4.649 4.368c.305-.44.75-.783 1.323-1.018.566-.232 1.239-.35 2.001-.349.609 0 1.144.078 1.592.232.45.155.828.365 1.126.622.3.26.524.538.664.825.141.291.213.581.213.862 0 .27-.094.515-.28.729a.892.892 0 0 1-.7.324c-.253 0-.45-.068-.587-.203-.127-.125-.26-.32-.408-.6-.17-.358-.375-.64-.612-.839-.23-.193-.612-.29-1.139-.29-.488 0-.886.108-1.182.323-.285.207-.423.442-.423.723a.71.71 0 0 0 .136.44c.097.131.234.247.407.343.18.099.365.179.549.236.19.058.508.143.944.255.553.132 1.06.278 1.508.438.454.16.847.359 1.168.59.325.235.585.538.768.899.185.362.277.81.277 1.33 0 .622-.16 1.189-.477 1.685-.315.495-.78.886-1.385 1.165-.6.275-1.316.414-2.132.414-.98 0-1.801-.19-2.443-.567a3.324 3.324 0 0 1-1.122-1.104c-.29-.462-.437-.922-.437-1.364 0-.277.096-.517.284-.713a.948.948 0 0 1 .712-.294.85.85 0 0 1 .6.232c.159.147.293.365.401.646.121.307.253.566.392.77.134.195.326.36.572.49.247.128.58.195.99.195.565 0 1.027-.134 1.374-.397.34-.257.506-.564.506-.942 0-.298-.087-.533-.263-.716a1.816 1.816 0 0 0-.729-.445c-.31-.108-.73-.223-1.25-.344-.71-.168-1.31-.367-1.789-.592-.49-.23-.883-.55-1.172-.95-.293-.404-.441-.914-.441-1.513 0-.57.156-1.085.464-1.528z"></path>
                            </svg>
                        </i><a href="">skype</a></li>
                    <li class="contact"><i>
                            <svg id="icon-email" viewBox="0 0 16 12">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M0 10.5c0 .828.598 1.5 1.333 1.5h13.334c.735 0 1.333-.672 1.333-1.5v-9c0-.827-.598-1.5-1.333-1.5H1.333C.598 0 0 .673 0 1.5v9zm8-2.637L1.537 2.818c-.17-.134-.22-.409-.11-.615.111-.206.34-.265.51-.132L8 6.804l6.063-4.733c.17-.133.399-.074.51.132.11.206.06.481-.11.615L8 7.863zM1.369 10a.355.355 0 0 1-.307-.198c-.113-.204-.067-.48.102-.616L4.48 6.519c.17-.136.398-.081.51.123.114.205.068.48-.101.617L1.573 9.925A.326.326 0 0 1 1.37 10zm13.058-.075c.063.05.134.075.204.075.119 0 .236-.07.307-.198.113-.204.067-.48-.102-.616L11.52 6.519c-.17-.136-.398-.081-.51.123-.114.205-.068.48.101.617l3.316 2.666z"></path>
                            </svg>
                        </i><a href="">mail@mail.com</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/assets/plugins/slick/slick.min.js"></script>
<script src="/assets/design/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>