{% extends "base.html.twig" %}
{% block body %}
    <section class="main_slider">
        <img src="/assets/design/images/dyn/main_slider_1.jpg" alt="">
        <img src="/assets/design/images/dyn/main_slider_2.jpg" alt="">
    </section>
    <section class="companies">
        <div class="wrapper">
            <ul>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_1.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_2.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_3.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_4.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_5.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_6.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_7.jpg" alt=""></a></li>
                <li><a href="#!"><img src="/assets/design/images/dyn/brand_8.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section class="slider">
        <div class="title">Новинки</div>
        <div class="wrapper">
            <div class="news_slider">
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="product_wrapper">
                    <div class="product">
                        <div class="product_main">
                            <div class="product_top">
                                <div class="image">
                                    <div class="flags">
                                        <div class="flag sale">Распродажа</div>
                                        <div class="flag new">Новинка</div>
                                        <div class="flag hit">Хит</div>
                                    </div>
                                    <img src="/assets/design/images/dyn/coffe_small_1.jpeg" alt="">
                                </div>
                            </div>
                            <div class="product_middle">
                                <div class="product_name">
                                    <a href="#!">КОФЕ В ЗЕРНАХ ORO, 1 КГ, LAVAZZA</a>
                                </div>
                                <div class="product_buy">
                                    <span class="price">564 грн</span>
                                    <span class="buy_button">Купить</span>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="product_hide">-->
                        <!--                            <table class="product_params">-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Материал упаковки</td>-->
                        <!--                                    <td class="value">Многослойный пакет</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Обжарка</td>-->
                        <!--                                    <td class="value">Средняя</td>-->
                        <!--                                </tr>-->
                        <!--                                <tr class="param">-->
                        <!--                                    <td >Особенности вкуса</td>-->
                        <!--                                    <td class="value">Кислинка</td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="about">
        <div class="wrapper">
            <div class="title">О магазине</div>
            <div class="text">Интернет-магазин «Coffee Time» предлагает широкий ассортимент кофе от известных
                производителей. В нашем каталоге – только качественная натуральная продукция для приготовления латте,
                эспрессо, капучино, макиато в кофеварке, кофемашине, френч-прессе или турке. У нас можно купить кофе в
                зернах, капсулах, чалдах, а также молотый и растворимый. Следите за акциями и специальными предложениями
                – не упустите возможность заказать кофе и другие товары по еще более выгодным ценам. Выберите
                понравившийся сорт и оформите покупку. Ваш заказ будет оперативно доставлен в любой регион Украины.
            </div>
        </div>
    </section>
{% endblock %}