{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .register{
            margin-top: 20px;
        }
    </style>
    <section class="content">
        {% if error %}
            <div class="alert alert-danger">
                {{ error|nl2br }}
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="email">Почта</label>
                <input type="email" required class="form-control" id="email" name="user[email]" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" required class="form-control" name="user[password]" id="password">
            </div>

            <button type="submit" class="btn btn-danger">Войти</button>
        </form>
        <div class="register">
            Вы еще не <a href="/register">зарегистрированы?</a>
        </div>
    </section>
{% endblock %}